################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/转换操作符方法/v15/Server/sqlite3/storage.ide-shm
/.vs/转换操作符方法/v15/Server/sqlite3/storage.ide-wal
